@{
    ViewData["Title"] = "Send mail";
}

<div class="text-center">
    <h5 class="display-4" style="font-size: 30px;">Отчёт по машинам отправлен на почту @Program.Inspector.Email!</h5>
</div>
<div class="text-center">
 <a type="button" asp-action="ReportPdf" class="btn btn-primary">Назад</a>
</div>